@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css);
.detail_header{
  .container{
    @media  (max-width: 768px){ max-width: 100% !important; padding: 0px 20px !important;}
  }
  .imgFilm{
    img{
      max-width: 80%;
      height: 90%;
      transform: translateY(56%);
      transition: 1s linear;
      @media  (max-width: 1200px){height: 80%; transition: 1s linear;}
    }
    
    @media  (max-width: 992px){ display: none;}
  }
  h1{ @media (max-width: 576px){ font-size: 25px;}}
  .detail_header_info{@media (max-width: 576px){ height: 70% !important;}}
  .book-section{ 
    @media (max-width: 576px){ padding-bottom: 50px;}
  }
  .book-section-content{ 

    @media (max-width: 992px){ 
      .book-section-item02 { width: 65%;}; 
      .book-section-item03 { width: 35%;}
      display: flex !important;
    }
    @media (max-width: 576px){ 
      .book-section-item02,.book-section-item03  { width: 100%;}
      .book-section-item02 > div {padding-bottom: 50px !important;}
    }
  }

  .genreMovie{
    span{
      border-radius: 18px; border: 1px solid rgba(163, 177, 198, 0.2); padding: 8px 18px; font-size: 13px;
      @media (max-width: 576px){ padding: 5px 15px; font-size: 12px;}
    }
  }





  // BUTTON TRAILER
  .btn_trailer{
    a {
      position: absolute;
      color: #fff;
      padding: 20px 10px;
      letter-spacing: 2px;
      text-transform: uppercase;
      text-decoration: none;
      box-shadow: 0 0 20px #5560ff;
      overflow: hidden;
      border-radius: 10px;
      @media (max-width: 768px){ font-size: 12px; }

      @keyframes animate1 {
        0% { transform: translateX(-100%); }
        100% { transform: translateX(100%); }
      }
      @keyframes animate2 {
        0% {transform: translateY(-100%);}
        100% {transform: translateY(100%);}
      }
      span:nth-child(1) {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 4px;
        background: linear-gradient(to right, #5560ff 17%, #aa52a1 63%, #ff4343 100%);
        animation: animate1 2s linear infinite; 
      }

      span:nth-child(2) {
        position: absolute;
        top: 0;
        right: 0;
        width: 4px;
        height: 100%;
        background: linear-gradient(to bottom, #5560ff 17%, #aa52a1 63%, #ff4343 100%);
        animation: animate2 2s linear infinite;
        animation-delay: 1s;
      }
      span:nth-child(3) {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        border-radius: 20px;
        height: 4px;
        background: linear-gradient(to left, #5560ff 17%, #aa52a1 63%, #ff4343 100%);
        animation: animate1 2s linear infinite;
        animation-direction: reverse;
      }
      span:nth-child(4) {
        position: absolute;
        top: 0;
        left: 0;
        width: 4px;
        height: 100%;
        border-radius: 20px;
        background: linear-gradient(to top, #5560ff 17%, #aa52a1 63%, #ff4343 100%);
        animation: animate2 2s linear infinite;
        animation-direction: reverse;
        animation-delay: 1s;
      }
    }
  }

  
}