@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css);
.detail {
  background-color: #001232;
}

@media (max-width: 768px) {
  .detail .detail_header .container {
    max-width: 100% !important;
    padding: 0px 20px !important;
  }
}

.detail .detail_header .imgFilm img {
  height: 90%;
  border-radius: 10px;
  -webkit-transform: translateY(56%);
          transform: translateY(56%);
  -webkit-transition: 1s linear;
  transition: 1s linear;
}

@media (max-width: 1200px) {
  .detail .detail_header .imgFilm img {
    height: 80%;
    -webkit-transition: 1s linear;
    transition: 1s linear;
  }
}

@media (max-width: 992px) {
  .detail .detail_header .imgFilm {
    display: none;
  }
}

@media (max-width: 576px) {
  .detail .detail_header h1 {
    font-size: 30px;
  }
}

@media (max-width: 576px) {
  .detail .detail_header .book-section {
    padding-bottom: 50px;
  }
}

@media (max-width: 992px) {
  .detail .detail_header .book-section-content {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .detail .detail_header .book-section-content .book-section-item02 {
    width: 65%;
  }
  .detail .detail_header .book-section-content .book-section-item03 {
    width: 35%;
  }
}

@media (max-width: 576px) {
  .detail .detail_header .book-section-content .book-section-item02, .detail .detail_header .book-section-content .book-section-item03 {
    width: 100%;
  }
  .detail .detail_header .book-section-content .book-section-item02 > div {
    padding-bottom: 50px !important;
  }
}

.detail .detail_header .genreMovie span {
  border-radius: 18px;
  border: 1px solid rgba(163, 177, 198, 0.2);
  padding: 8px 18px;
  font-size: 13px;
}

.detail .detail_header .btn_trailer a {
  position: absolute;
  color: #fff;
  padding: 20px 10px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-box-shadow: 0 0 20px #5560ff;
          box-shadow: 0 0 20px #5560ff;
  overflow: hidden;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .detail .detail_header .btn_trailer a {
    font-size: 12px;
  }
}

@-webkit-keyframes animate1 {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

@keyframes animate1 {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

@-webkit-keyframes animate2 {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
}

@keyframes animate2 {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
}

.detail .detail_header .btn_trailer a span:nth-child(1) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background: -webkit-gradient(linear, left top, right top, color-stop(17%, #5560ff), color-stop(63%, #aa52a1), to(#ff4343));
  background: linear-gradient(to right, #5560ff 17%, #aa52a1 63%, #ff4343 100%);
  -webkit-animation: animate1 2s linear infinite;
          animation: animate1 2s linear infinite;
}

.detail .detail_header .btn_trailer a span:nth-child(2) {
  position: absolute;
  top: 0;
  right: 0;
  width: 4px;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(17%, #5560ff), color-stop(63%, #aa52a1), to(#ff4343));
  background: linear-gradient(to bottom, #5560ff 17%, #aa52a1 63%, #ff4343 100%);
  -webkit-animation: animate2 2s linear infinite;
          animation: animate2 2s linear infinite;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.detail .detail_header .btn_trailer a span:nth-child(3) {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-radius: 20px;
  height: 4px;
  background: -webkit-gradient(linear, right top, left top, color-stop(17%, #5560ff), color-stop(63%, #aa52a1), to(#ff4343));
  background: linear-gradient(to left, #5560ff 17%, #aa52a1 63%, #ff4343 100%);
  -webkit-animation: animate1 2s linear infinite;
          animation: animate1 2s linear infinite;
  animation-direction: reverse;
}

.detail .detail_header .btn_trailer a span:nth-child(4) {
  position: absolute;
  top: 0;
  left: 0;
  width: 4px;
  height: 100%;
  border-radius: 20px;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(17%, #5560ff), color-stop(63%, #aa52a1), to(#ff4343));
  background: linear-gradient(to top, #5560ff 17%, #aa52a1 63%, #ff4343 100%);
  -webkit-animation: animate2 2s linear infinite;
          animation: animate2 2s linear infinite;
  animation-direction: reverse;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

@media (max-width: 992px) {
  .detail .detail_body .Applicable_Offer h3 {
    padding: 5px 15px;
  }
}

.detail .detail_body .Applicable_Offer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -10px;
  padding: 0;
}

.detail .detail_body .Applicable_Offer ul li {
  list-style: none;
  padding: 10px;
}

.detail .detail_body .Applicable_Offer ul li a {
  padding: 5px 20px;
  font-size: 12px;
  border: 1px solid rgba(163, 177, 198, 0.2);
  border-radius: 15px;
  text-transform: uppercase;
  color: #becdff;
}

@media (max-width: 992px) {
  .detail .detail_body .Applicable_Offer ul {
    padding: 5px 15px;
  }
}

.detail .detail_body .Applicable_Offer .Offers .offer01, .detail .detail_body .Applicable_Offer .Offers .offer02, .detail .detail_body .Applicable_Offer .Offers .offer03 {
  border: 1px dashed #1f3253;
  border-radius: 10px;
  padding: 20px 20px 28px;
  margin-bottom: 30px;
}

.detail .detail_body .Applicable_Offer .Offers .offer01 h6, .detail .detail_body .Applicable_Offer .Offers .offer02 h6, .detail .detail_body .Applicable_Offer .Offers .offer03 h6 {
  font-size: 16px;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
}

@media (min-width: 576px) {
  .detail .detail_body .Applicable_Offer .Offers .offer01 h6, .detail .detail_body .Applicable_Offer .Offers .offer02 h6, .detail .detail_body .Applicable_Offer .Offers .offer03 h6 {
    margin-top: -5px;
    font-size: 18px;
  }
}

.detail .detail_body .Applicable_Offer .Offers .offer01 p, .detail .detail_body .Applicable_Offer .Offers .offer02 p, .detail .detail_body .Applicable_Offer .Offers .offer03 p {
  color: #9aace5;
  font-size: 13px;
  line-height: 18px;
}

@media (max-width: 992px) {
  .detail .detail_body .Applicable_Offer .Offers .offer01, .detail .detail_body .Applicable_Offer .Offers .offer02, .detail .detail_body .Applicable_Offer .Offers .offer03 {
    width: 30%;
  }
}

@media (max-width: 576px) {
  .detail .detail_body .Applicable_Offer .Offers .offer01, .detail .detail_body .Applicable_Offer .Offers .offer02, .detail .detail_body .Applicable_Offer .Offers .offer03 {
    width: 100%;
    padding: 10px;
  }
}

@media (max-width: 992px) {
  .detail .detail_body .Applicable_Offer .Offers {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media (max-width: 576px) {
  .detail .detail_body .Applicable_Offer .Offers {
    display: block;
  }
}

.detail .detail_body #nav-tab {
  border-top: 2px solid rgba(255, 255, 255, 0.1) !important;
  border-bottom: 2px solid rgba(255, 255, 255, 0.1) !important;
  padding: 8px 0px;
}

.detail .detail_body #nav-tab .nav-tab-content {
  color: #fff;
  font-size: 18px;
  background: none;
  position: relative;
  margin: auto;
}

.detail .detail_body #nav-tab .nav-tab-content i {
  font-size: 25px;
  -webkit-transform: translateY(20%);
          transform: translateY(20%);
}

.detail .detail_body #nav-tab .nav-tab-content:hover {
  color: #31d7a9;
}

.detail .detail_body #nav-tab .nav-tab-content::after {
  content: "";
  width: 0;
  border-radius: 30px;
  -webkit-transform: translateY(340%) !important;
          transform: translateY(340%) !important;
  height: 3px;
  background: #31d7a9;
  -webkit-box-shadow: 0 0 20px 0 #af1dc2;
          box-shadow: 0 0 20px 0 #af1dc2;
  position: absolute;
  bottom: 0;
  left: 0;
}

.detail .detail_body #nav-tab .nav-tab-content::before {
  content: "";
  width: 0;
  border-radius: 30px;
  -webkit-transform: translateY(-340%) !important;
          transform: translateY(-340%) !important;
  height: 3px;
  background: #31d7a9;
  -webkit-box-shadow: 0 0 20px 0 #af1dc2;
          box-shadow: 0 0 20px 0 #af1dc2;
  position: absolute;
  top: 0;
  left: 0;
}

.detail .detail_body #nav-tab .nav-tab-content:hover::after, .detail .detail_body #nav-tab .nav-tab-content:hover::before {
  width: 100%;
  -webkit-transition: width 0.3s linear;
  transition: width 0.3s linear;
}

@media (max-width: 768px) {
  .detail .detail_body #nav-tab .nav-tab-content {
    margin: 0px 20px !important;
    padding: 0px 16px !important;
    font-size: 15px;
  }
}

@media (max-width: 576px) {
  .detail .detail_body #nav-tab .nav-tab-content {
    margin: 0px 10px !important;
    padding: 0px 16px !important;
    font-size: 15px;
  }
}

.detail .detail_body #nav-tab .nav-link.active {
  color: #31d7a9;
}

.detail .detail_body #nav-tab .nav-link.active::after, .detail .detail_body #nav-tab .nav-link.active::before {
  width: 100%;
}

.detail .detail_body #nav-tabContent .avata {
  width: 70px;
  height: 70px;
  border: 1px solid rgba(49, 215, 169, 0.5);
}

.detail .detail_body #nav-tabContent .avata img {
  border: 2px solid #31d7a9;
}

@media (max-width: 1200px) {
  .detail .detail_body #nav-tabContent .avata {
    width: 65px;
    height: 65px;
  }
}

.detail .detail_body #nav-tabContent .detail_review input, .detail .detail_body #nav-tabContent .detail_review .btn_send {
  background: none;
  border: none !important;
  outline: none;
}

.detail .detail_body #nav-tabContent .detail_review input .bx-send, .detail .detail_body #nav-tabContent .detail_review .btn_send .bx-send {
  font-size: 30px;
  color: #31d7a9;
}

.detail .detail_body #nav-tabContent .detail_review .cards_review i {
  color: #31d7a9;
  font-size: 25px;
}

.detail .detail_body #nav-tabContent .detail_review .cards_review .date {
  color: #bdcaf3;
  font-size: 13px;
  margin: 5px 0px;
  text-transform: capitalize;
}

.detail .detail_body #nav-tabContent .detail_plan .nav-link {
  color: #fff !important;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 10px;
}

.detail .detail_body #nav-tabContent .detail_plan .nav-link.active {
  -webkit-box-shadow: 0 0 10px #5560ff;
          box-shadow: 0 0 10px #5560ff;
}

.detail .detail_body #nav-tabContent .detail_plan .NAVLINK {
  color: #ffffff;
  padding: 5px;
  font-size: 15px;
  background: #162f5f;
  -webkit-mask-position: center center;
  text-align: center;
  mask-image: url(../Assets/Images/imgDetail/movie-seat.png);
  -webkit-mask-image: url(../Assets/Images/imgDetail/movie-seat.png);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  cursor: pointer;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
  display: block;
  margin: 5px;
  text-decoration: none;
}

.detail .detail_body #nav-tabContent .detail_plan .NAVLINK:hover {
  background-color: #31d7a9;
}
/*# sourceMappingURL=Detail.css.map */